body{
    font-family: "Open Sans", sans-serif;
}
a, a:link, a:visited {
    text-decoration: none;
}
#nav-header {

}
.navbar-header{

}
.navbar {
    background-color: #808c33;
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px;
}
/*.navbar-default .navbar-brand {*/
    /*color: #ffffff;*/
    /*font-size: 40px;*/
    /*line-height: 42px;*/
    /*font-family: Century;*/
    /*font-weight: bold;*/
    /*padding-top:60px;*/
    /*padding-bottom:5px;*/
/*}*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    background-color: transparent;
    color: #ffffff;
}
.navbar-default .navbar-brand small {
    color: #ffffff;
    font-size: 10pt;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    display:block;
}
.navbar-default .navbar-nav li a {
    color: #ffffff;
    font-size: 10pt;
    font-family: "Open Sans", sans-serif;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 14pt;
}
.navbar-default .navbar-nav li .button-line {
    height: 60%;
    border-right: 1px solid #ffffff;
    position: absolute;
    left: 0;
     top: 50%;
    margin-top: -15px;
}
.navbar-default .navbar-nav li a:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav li .hover-color {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.navbar-nav>li>.dropdown-menu{
    background-color: #808c33;
    color: #FFF;
}
.navbar-nav>li>.dropdown-menu > li > a:hover, .navbar-nav>li>.dropdown-menu > li > a:focus {
    background-color:#808c33;
    color: #000000;
}
.header-nav{

}
.footer-content{
    padding-top: 15px;
    color: #ffffff;
}

.bgimagerow{
    margin-right: 0px;
    margin-left: 0px;
}

.bgimage {
    background-image: url('../img/header.png');
    background-size: 100%;
    height: 390px;
    padding-right: 0px;
    padding-left: 0px;
    background-repeat:no-repeat;
}
.bgimage-inside {
    height: 390px;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(128, 140, 51, 0.3) 40%, rgba(128, 140, 51, 0) 100%) !important;
}

.bgimage-text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;

    color: #ffffff;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

#body-container{
    padding-top: 0px;
    padding-bottom: 0px;
}

.panel{
    border: 1px solid transparent;
    border-radius: 0px;
}
.panel-default {
    border-color: #dff0d8;
}

.panel-body-items {
    padding: 0px;
}
.panel-sponsors{
    border: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-body-sponsors{
    padding: 0px;
}

.panel-default>.panel-heading{
    color: #3c763d;
    background-color: #dff0d8;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #dff0d8;
}

.item-description{
    padding: 15px;
}
.item-donor{
    padding: 15px;
}

.img-center{
    margin: 0 auto;
}
.wlh-brand{
    color: #808c33;
    font-size: 44px;
    font-family: Century;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
}

.top-items{
    padding-left: 0px;
    padding-right: 0px;
}
.top-row{
    padding-top: 20px;
}
