<div class="container">
    <img class="img-responsive img-center" src="img/logo.png" >
</div>
<div class="container text-center">
    <div class="wlh-brand">The Women's League of Hartsville <br>Benefit Auction</div>
</div>
<nav id="nav-header" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right header-nav">
                <!-- Menu Link -->
                <li id="index_page_menu">
                    <a href="index.html">
                        <div class="button-line"></div>
                        <div class="hover-color"></div>
                        <span><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</span>
                    </a>
                </li>
                <li id="items_page_menu">
                    <a href="items.html">
                        <div class="button-line"></div>
                        <div class="hover-color"></div>
                        <span><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Auction Items</span>
                    </a>
                </li>
                <li id="register_page_menu">
                    <a href="register.html">
                        <div class="button-line"></div>
                        <div class="hover-color"></div>
                        <span><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Register</span>
                    </a>
                </li>
                <li id="contact_page_menu">
                    <a href="contact.html">
                        <div class="button-line"></div>
                        <div class="hover-color"></div>
                        <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Contact</span>
                    </a>
                </li>

                <li id="signin_page_menu">
                    <a href="signin.html">
                        <div class="button-line"></div>
                        <div class="hover-color"></div>
                        <span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign in</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


